<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="../static/assets/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css-files/about.css" rel="stylesheet">
        
        <title>            
            About Page
        </title>
    </head>
    <body id="top">
        <div class="home-button">

            <a type="button" href="/home/" class="btn btn-outline-primary" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                  </svg>
                Home Page                
            </a>
            
                <a type="button" href="#er" class="btn btn-outline-danger" style="margin-left: 25%;">ER DIAGRAM</a>
                <a type="button" href="#abt" class="btn btn-outline-warning" style="margin-left: 1%;margin-right: 1%">ABOUT US</a>
                <a type="button" href="#rs" class="btn btn-outline-info" >RELATIONAL SCHEMA</a>
            </div>
        
        <hr>
        
        <div class="outer-image">
            <img src="../static/web-images/iplaboutpic.jpg">
            <div class="overlay-text">
                <h1>IPL DATABASE, DBMS PROJECT</h1>                
            </div>
           
        </div>

        
        <div class="entity">
            <div class="about">
                <hr style="margin-top:25%;">
                <h2 style="text-align: center; color: darkorange; margin-top: 3%;" id="abt"><u style="color: darkorange">About Us</u></h2>
                <div class="container">

                    <div class="card">
                      <div class="face face1">
                        <div class="content">
                          <span class="stars"></span>
                          <h2 class="java">SHAMANTH</h2>
                          <h2 class="java">KR</h2>
                          <p> </p>
                          <p class="java">Contact No : +91 91082 83984</p>
                          <p class="java">Email ID: shamanthkr3@gmail.com</p>
                        </div>
                      </div>
                      <div class="face face2">
                        <h2>1RN19IS140</h2>
                      </div>
                    </div>
                  
                    <div class="card">
                      <div class="face face1">
                        <div class="content">
                          <span class="stars"></span>
                          <h2 class="java">VIJAY</h2>
                          <h2 class="java"> PAYYAVULA</h2>
                          <p> </p>
                          <p class="java">Contact No : +91 99724 29999</p>
                          <p class="java">Email ID: vijay.payyavula1@gmail.com</p>
                        </div>
                      </div>
                      <div class="face face2">
                        <h2>1RN19IS174</h2>
                      </div>
                    </div>
                  
                    <div class="card">
                      <div class="face face1">
                        <div class="content">
                          <span class="stars"></span>
                          <h2 class="java">VINEET</h2>
                          <h2 class="java">KS</h2>
                          <p></p>
                          <p class="java">Contact No : +91 96325 29177</p>
                          <p class="java">Email ID: vineetks2001@gmail.com</p>
                        </div>
                      </div>
                      <div class="face face2">
                        <h2>1RN19IS175</h2>
                      </div>
                    </div>
                  </div>
            </div>
            <hr>
            <div>
                <br>
                <h2 style="text-align: center; color: rgb(19,1,1);" id="er"><u style="color: red">ERDiagram</u></h2>
                <img src="../static/web-images/er-diagram.png" style="border-radius: 10px">
            </div>
            <hr>
            <div>
                <h2 style="text-align: center; color: rgb(37, 150, 190); margin-top:3%"  id="rs"><u style="color: rgb(37, 150, 190);">Schema Diagram</u></h2>
                <img src="../static/web-images/schema.png" style="border-radius:10px;">
            </div>           
            
        </div>
            <a href="#top" style="position:fixed; bottom:0; right:0;">
              Top
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
              </svg>
            </a>

        <script src="../static/assets/dist/js/bootstrap.bundle.min.js"></script>    
    </body>
</html>